<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Article</h1>
    <form action="/articles" method="post">
        <input type="text" name="title" placeholder="Title"> <br>
        <input type="text" name="author" placeholder="Author"> <br>
        <input type="number" name="views" placeholder="Views"> <br>
        <button>Send</button>
    </form>
</body>
</html>